<h2>This is the blog directory!</h2>
<h3>{{model.title}}</h3>
<h4>By: {{model.author}}</h4>
<p>{{model.content}}</p>

<form>
  <label for="title">Edit Title</label>
  {{input type="text" value=model.title}}

  <label for="author">Edit Author</label>
  {{input type="text" value=model.author}}

  <label for="title">Edit Content</label>
  {{textarea type="text" value=model.content}}

</form>
